.App-products-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: auto;
  height: 100%;
}
.App-products-filters {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:flex-end;
  height: 50px;
  position: fixed;
  z-index: 10;
  bottom: 30px;
  right: 20px;
}
.end-of-list {
  text-align: center;
  color: #52307F;
  width: 100%;
}
